.card {
    background-color: white;
    border-radius: 5px;
    color: black;
    height: 150px;
    margin: 10px;
    padding: 10px;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
}

.card:hover{
    transform: scale(1.05);
}