.container {
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.form {
    background-color: white;
    border-radius: 20px;
    color: black;
    padding: 20px;
    span {
        font-size: 14px;
    }
}

.name {
    display: flex;
    > * {
        margin: 0 5px;
    }
    input {
        background: white;
        color: black;
        width: 70%;
    }
}

.counter{
    display: flex;
    align-items: center;
    img{
        cursor: pointer;
        margin: 0 5px;
    }
}
